@use 'variables' as *;
@use 'mixins' as *;

.bg-lightgreen{
    background: $green-light;
}
.btn-branding{
    background: $green-light;
    &:hover{
        background: $green-dark;
    }
}

#map{
    min-height: 300px;
    min-width: 300px;
    @include lg{
        min-height: 600px;
    };
}

#controlsCard{
    max-width: 15rem;
}