@use 'variables' as *;

.bg-lightgreen{
    background: $green-light;
}
.btn-branding{
    background: $green-light;
    &:hover{
        background: $green-dark;
    }
}

#map{
    height: 600px;
    width: 600px;
}

#controlsCard{
    max-width: 15rem;
}